<div class="centered-content">
  <div class="modal-box">
      <h1 class="title">Edit a category</h1>

     
          <input #categoryTitleInput class="input has-background-light is-medium" type="text" placeholder="Enter category name...">
          <br><br>
          <div class="buttons is-right">
              <button class="button is-medium" [routerLink]="['/categories', categoryId]">Cancel</button>
              <button class="button is-primary is-medium  has-text-white" (click)="updateCategory(categoryTitleInput.value)">Save</button>
          </div>



  </div>

</div>