<div class="outerDiv">
  
    <div class="sidebar">
      <h1 class="title">Categories</h1>

      <br>

      <div class="d-flex" style="display: block">
        <div>

          <a class="category-menu-item" *ngFor="let category of categoriesArray" (click)="onCategoryClick(category._id)"
            [ngClass]="{ 'is-active': router.url.includes(category._id) }">

            <p>{{ category.title }}</p>
          </a>
        </div>
      </div>
      <button class="button is-primary has-text-white" style="margin-top: auto;" routerLink="/new-category">+ New Category</button>
    </div>



  <div class="medications-container">

    <div class="top-bar">
      <h1 class="title has-text-white">
        Medications
      </h1>
      <div class="dropdown is-hoverable is-right">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
            <span>Settings</span>
            <!-- <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span> -->
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <a routerLink="./edit-category" class="dropdown-item">
              Edit this category
            </a>
            <a (click)="onDeleteCategoryClick()" class="dropdown-item has-text-danger">
              Delete this category
            </a>
          </div>
        </div>
      </div>
    </div>

    <app-medication-view></app-medication-view>

    <button title="New Medication" class="circle-add-button button" routerLink="./new-medication">

      <img src="../../../assets/plus-icon.svg">
    </button>
  </div>
</div>