<ion-app>
    <ion-header [translucent]="true">
      <ion-toolbar>
        <div style="display: flex; justify-content: space-around">
        
          <ion-title>
            Medication Reminder
          </ion-title>
  
          <button *ngIf="router.url !== '/login' && router.url !== '/register'" class="button" style="margin-right: 20px;" (click)="onLogoutButtonClicked()">Logout</button>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-router-outlet></ion-router-outlet>

    <!-- <app-tabs></app-tabs> -->

    <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-app>