<div class="centered-content">
  <div class="medication-manager-container">
    <div class="sidebar">
      <h1 class="title">Categories</h1>
      <div class="list-menu">
        <a class="list-menu-item is-active">
          <p>Category #1</p>
        </a>
        <a class="list-menu-item">
          <p>Category #2</p>
        </a>
        <a class="list-menu-item">
          <p>Category #3</p>
        </a>
      </div>

      <button class="button is-primary" routerLink="/new-category">+ New Category</button>
    </div>

    <div class="medications-container">
      <h1 class="title">Medications</h1>
      
      <!-- Medication elements -->
      <div class="medication completed">
        <p>First Medication</p>
      </div>
      <div class="medication">
        <p>Second Medication</p>
      </div>


      <button title="New Medication" class="circle-add-button button" routerLink="/new-medication">
        <img src="../../../assets/plus-icon.svg">
    </button>
    </div>

  </div>
</div>