<div class="centered-content">
  <div class="medication-manager-container">
    <div class="sidebar">
      <h1 class="title">Categories</h1>
      <div class="list-menu">

        <a class="list-menu-item" 
          *ngFor="let category of categories" 
          (click)="onCategoryClick()" 
          [routerLink]="['/categories', category._id]">

            <p>{{ category.title }}</p>
        </a>

      </div>
      <button class="button is-primary" routerLink="/new-category">+ New Category</button>
    </div>

    <div class="medications-container">
      <h1 class="title">Medications</h1>

      <!-- Medication elements -->
      <div class="medication" *ngFor="let medication of medications">
        <div class="medication-text">
          <p >{{ medication.title }}</p>
        </div>
        <div class="medication-buttons">
          <button class="button">
            <img class="edit-button-image" title="Edit medication"
              src="../../assets/154-1541056_edit-edit-icon-svg-hd-png-download.png">
          </button>

          <button class="button is-danger" style="margin-left: 5px;">
            <img class="delete-button-image" title="Delete medication" src="../../assets/trash-512.webp">
          </button>

        </div>

      </div>

      <button title="New Medication" class="circle-add-button button" routerLink="/new-medication">
        <img src="../../../assets/plus-icon.svg">
      </button>
    </div>

  </div>
</div>