
<ion-content [fullscreen]="true">
  
  <div class="container" >
    <div class="wrapper">
      <h1> Your intake history: </h1>
      <ul class="sessions" >
        
        <li *ngFor="let historyElement of historyElements">
          <div class="time">{{historyElement.date}}</div>
          <div *ngFor="let med of historyElement.takenMedications">

            <div id="takenMedications" >{{med.medicationName}} (taken at {{med.intakeHour}}:<span *ngIf="med.intakeMinutes<10">0</span>{{med.intakeMinutes}})</div>
          </div>
         
        </li>
        
      </ul>
    </div>
  </div> 
  
</ion-content>
